@charset 'utf-8';


/* 공통 영역 header, nav */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


header {
    width: 100%;
    height: 12vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    text-align: right;
    background: rgba(1000, 1000, 1000, 0.8);
    display: flex;
    justify-content: center;
}

header .header_container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header_container #logo {
    width: 100px;
    height: 100%;
    margin-top: 6vh;
}

header .searchBox {
    width: 400px;
    border-bottom: 2px solid black;
    text-align: left;
    margin-left: 280px;
}

header .searchBox #main_search {
    border: none;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    margin-left: 10px;
    height: 26px;
    width: 320px;
}

header .searchBox .search {
    vertical-align: bottom;
    width: 26px;
    height: 26px;
    display: inline-block;
    background: url('../img/search.png') no-repeat;
    background-size: 100% 100%;
}

header .searchBox .search a {
    display: block;
    width: 100%;
    height: 100%;

}

header .header_container #menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header_container #menu li {
    width: 100px;
    margin-left: 20px;
    text-align: center;
    line-height: 12vh;
}

header .header_container #menu li a {
    padding: 10px 5px;
    transition: .3s;
}

header .header_container #menu li a:hover {
    color: #ff504d;
    transition: .3s;
}




/* nav 2 login 팝업 */

.membership {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    display: none;
    text-align: center;

}

.membership .exit_box {
    width: 40px;
    height: 40px;
    float: right;
    margin: 10px 10px 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.5em;
}

.membership .membership_container {
    width: 500px;
    height: 65vh;
    background: white;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 37vh);
}

.membership .membership_container .membership_title {
    width: 120px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;



}

.membership .membership_container ul {
    width: 80%;
    margin: 0 auto;
}

.membership .membership_container ul li {
    width: 100%;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;

}

.membership .membership_container ul li:nth-of-type(1) {
    background: #b1dba5;
}

.membership .membership_container ul li:nth-of-type(2) {
    background: #e2e59d;
}

.membership .membership_container ul li:nth-of-type(3) {
    background: #94a4c7;
}

.membership .membership_container ul li:nth-of-type(4) {
    background: #d6a2c7;
}


.membership .membership_container ul li span {
    vertical-align: middle;
    padding: 0 10px;
    margin-top: 15px;

}

.membership .membership_container ul li span img {
    width: 40px;
    height: 40px;
    margin-top: 10px;

}

.membership .membership_container .noMember {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}


section {
    background: white;
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}


section .main_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}

.tap_menu {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;


}

.tap_menu > div {
    height: 100%;
    width: 180px;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    transition: .3s;
}

.tap_menu > div:first-of-type:after {
    content: '';
    display: block;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 4px;
    border-right: 2px solid black;
}

.tap_menu > div:nth-of-type(2):after {
    content: '';
    display: block;
    width: 70%;
    height: 50%;
    position: absolute;
    left: -10px;
    top: 4px;
    border-right: 2px solid black;

}

.tap_menu > div a {
    color: #222;
}

.tap_menu > div a:hover {
    color: #ff504d;
    transition: .3s;
}

.myinfo {
    width: 21%;
    height: 65vh;
    border: 1px solid black;
    position: fixed;
    right: 10%;
    top: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.myinfo .myinfo_upper {
    width: 100%;
    height: 65%;
    background: pink;
}

.myinfo .myinfo_lower {
    width: 100%;
    height: 35%;
    background: #eee;
}

.myinfo .myinfo_myphoto {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #fff;
    left: calc(50% - 100px);
    top: 47%;
    background-size: 100% 150%;
    background-repeat: no-repeat;
}

.myinfo .myinfo_name {
    width: 80px;
    text-align: center;
    height: 30px;
    position: absolute;
    left: calc(50% - 40px);
    top: 88%;
    line-height: 30px;
}

.myinfo .myinfo_write_button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    bottom: 2%;
    background: url('../img/icon_write.png');
    background-size: 100% 100%;
    opacity: .8;
}


.favorite {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 55%;
    z-index: 3;
    display: flex;
}

.like {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.comment {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.favorite_area {
    transition: .5s;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 57%;
    opacity: 0;
    transition: 0.5s;
}

.like_area {
    transition: .5s;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 57%;
    opacity: 0;
    transition: 0.5s;
}

.comment_area {
    transition: .5s;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 57%;
    opacity: 0;
    transition: 0.5s;
}

.tapOn {
    opacity: 1;
    display: block;
    transition: .5s;
}

.photo {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 60px;
    display: inline-block;
    margin-right: 60px;
    background-size: 200% 120%;
}

.photo .cover {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: relative;
    transition: .5s;
}

.cover:hover {
    opacity: .8;
    transition: .5s;
}

.photo .cover .loc {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 1.1rem;

}

.photo .cover .area {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 100%;
    height: 10%;
    color: white;
    font-size: 1.1rem;

}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #fff;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    margin-top: 60px;
}


.photo_popup_background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.photo_popup_background .photo_popup_exit_button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 18%;
    top: 14%;
    border: 3px solid white;
    border-radius: 100%;
}

.photo_popup_background .photo_popup_exit_button .bLeft {
    display: block;
    position: absolute;
    width: 30px;
    border: 3px solid white;
    transform: rotate(-45deg);
    left: 14%;
    top: 45%;
}

.photo_popup_background .photo_popup_exit_button .bRight {
    display: block;
    position: absolute;
    width: 30px;
    border: 3px solid white;
    transform: rotate(45deg);
    left: 14%;
    top: 45%;
}

.photo_popup {
    width: 70%;
    height: 80%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.photo_popup .pic_area {
    width: 95%;
    height: 80%;
    background-size: 100% 100%;
}

.photo_popup .button_area {
    width: 95%;
    height: 7%;
    display: flex;
    justify-content: space-between;
}

.photo_popup .button_area .icons {
    width: 80%;
    height: 100%;
    display: flex;
}

.photo_popup .button_area .icons > div {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon_favorite {
    background: url('../img/icon_bookmark.png') no-repeat;
    background-size: 70% 70%;
    background-position: 50% 60%;
}

#icon_like {
    background: url('../img/icon_like.png') no-repeat;
    background-size: 70% 70%;
    background-position: 50% 60%;
}

#icon_location {
    width: 60%;
    justify-content: flex-start;
}

#icon_location .loc_icon {
    width: 40px;
    height: 30px;
    background: url('../img/loc_icon.png');
    background-size: 100% 100%;
    margin-right: 20px;
}

#icon_location .loc_info {

    height: 100%:
}

.comment_area .list {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.comment_area .list:nth-of-type(even) {
    background: #ccc
}

.comment_area .list .date {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 20px;
}

.comment_area .list .text {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 100px;
}

.photo_popup .button_area .weather {
    background: url('../img/weather.png');
    background-size: 100% 100%;
    width: 5%;
    height: 100%;
}
